h5py==3.9.0
imageio==2.31.1
matplotlib==3.7.1
numpy==1.25.0
opencv_python==4.8.0.76
pandas==2.0.3
Pillow==9.4.0
Pillow==10.0.0
pytorch_ignite==0.4.12
scipy==1.11.2
skimage==0.0
timm==0.9.5
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
